#if("$!secondaryPreApprovals" != "")
	<p><font face="arial" size="2">Esse cartão é utilizado nas seguintes assinaturas:</font></p>
	<p style="padding:10px; margin:0 25px; margin-bottom:10px; background:#f4f4f4;">		
	<font face="arial" size="2">$!secondaryPreApprovals</font>
	</p>
#end